body{
    background-color: #1D267D !important;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

html{
    min-width: 1000px;
}

.cardStyle{
    align-items: center;
    min-width: 400px;
}

.typography-style{
    text-align: center;
}

